<h1>投稿一覧</h1>

<!-- listsコントローラで記述した、@listsインスタンス変数で、中身はコントローラで代入した
内容がそのまま入っている状態 -->
<!-- eachメソッドは、配列やハッシュがもつ要素を順番に取得して処理を実行したい時に使用。
@lists.eachと記述することで、Listレコードの数だけ繰り返し処理を行う。-->
<% @lists.each do |list| %>

  <p>タイトル</p>
  <!-- 各レコードの内容は、listという変数に格納されます。list.[カラム名]と記述することで、レコードのカラムの内容を表示できます。
   list.titleと記述することで、投稿のタイトルが表示されます。-->
  <!-- 一覧画面から詳細画面へ遷移するリンクを設定します。 リンクを設定するには、link_toメソッドを利用します。 link_toメソッドは、HTMLの要素を出力するメソッドです。
   %= link_to 表示させるテキスト , リンク先URL [,オプション] % -->
  <span><%= link_to list.title, list_path(list.id) %></span>

  <p>画像</p>
  <!--attached?は、画像が存在していればtrue、存在していなければfalseを返します。-->
  <% if list.image.attached? %>
    <%= image_tag list.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>

<% end %>